* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.board {
    width: 40rem;
    height: 40rem;
    
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,1fr);
}
.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: aquamarine;
}
